*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.title{
 width: 100%;
}
.title-name{
  text-align: center;
  color: #5F793A;
  font-size: 1.25rem;
  padding: 5px;
  font-size: bold;
  /* background: #5F793A;
  color: #fff; */
}
.menu{
  /* width: 90%; */
  width: 100%;
  padding: 5px 10% 5px 10%;
  margin: auto;
  background: #5F793A;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menuitem{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-title ,.menuitem .icon{
  font-size: 1.4rem;
}
.shop-card{
  width: 100%;
  padding: 5px 10% 5px 10%;
  display: flex;
}
.shop-icon{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.shop-icon i{
  font-size: 5rem;
  color: rgb(242, 152, 34);
}
.shop-info-bar{
  width: 70%;
}
.shop-name{
  margin: 3px;
  font-size: 1.4rem;
  font-weight: bold;
}
.shop-info{
   margin: 3px;
   font-size: 1.2em;
}
.rank{
  display: flex;
  align-items: center;
}
.rank i{
  font-size: 1.25rem;
  color: rgb(255, 200, 0);
}
.rank i ,.rank .rank-info{
  padding: 3px;
}
.blessing-food-item{
  background: #F5F5F5;
  display: flex;
  padding: 6px 10%;
  margin-bottom: 5px;
}
.food-description{
  width: 40%;
}
.food-description .food-name{
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.6;
  margin-bottom: 3px;
}
.food-description .food-price{
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 3px;
}
.food-description .food-num{
  font-size: 1.1rem;
}
.scroll-bar{
  width: 60%;
}
.scroll-bar .choose-info{
  color: #5F793A;
  margin-bottom: 10px;
}
.scroll-bar  .choose-group{
  display: flex;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #fff;
  background: #fff;
  padding: 10px 20px;
  filter: drop-shadow(0px 2px 3px rgba(196, 196, 196, 0.25));
}
.scroll-bar .choose-num{
  width:70%;
}
.scroll-bar .plus,.scroll-bar .minus{
  float: right;
  border: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  background: #fff;
  padding: 4px;
  color: #5F793A;
}
